:root {
    --primary-color: hsl(242, 49%, 25%);
    --secondary-color: hsl(241, 65%, 15%);
    --accent-color: hsl(243, 66%, 94%);
    --shadow-color: hsl(0, 0%, 20%);
    --background-color: hsl(0, 0%, 10%);
    --font-color:  hsl(0, 0%, 40%);
  }

  @media (prefers-color-scheme : light) {
    :root {
        --background-color: white;
    }
  }